<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043119106953-p31il7fepiu2a48g1be9e6fn5aa12cv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043119106953-p31il7fepiu2a48g1be9e6fn5aa12cv8</string>
	<key>API_KEY</key>
	<string>AIzaSyC7Qv6HgqGUVkjeKDPHNISMxi15AeGZEqE</string>
	<key>GCM_SENDER_ID</key>
	<string>1043119106953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skkumap</string>
	<key>PROJECT_ID</key>
	<string>skkubus-95723</string>
	<key>STORAGE_BUCKET</key>
	<string>skkubus-95723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043119106953:ios:fbf7bb97c08cbc959b0f58</string>
</dict>
</plist>