<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>스꾸버스</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.skkumap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>스꾸버스</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.example.skkumap</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>skkubus.page.link</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5619947536545679~7068085893</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>sms</string>
		<string>tel</string>
		<string>nmap</string>
		<string>kakaomap</string>
		<string>map</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>주변 버스 정류장 안내, 셔틀 탑승장소 안내 등 위치 서비스를 제공하기 위해 필요한 권한입니다</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>주변 버스 정류장 안내, 셔틀 탑승장소 안내 등 위치 서비스를 제공하기 위해 필요한 권한입니다</string>
    <key>NSLocationUsageDescription</key>
    <string>주변 버스 정류장 안내, 셔틀 탑승장소 안내 등 위치 서비스를 제공하기 위해 필요한 권한입니다</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>주변 버스 정류장 안내, 셔틀 탑승장소 안내 등 위치 서비스를 제공하기 위해 필요한 권한입니다</string>
	<key>PermissionGroupNotification</key>
	<string>승차 알림, 하차 알림, 중요 공지 알림 등을 위해 필요한 권한입니다</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>`resIPhoneOS</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
